<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>Actualiza el estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="myForm">
      <!-- controlnumber-->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Ingrese número de control</ion-label>
            <ion-input formControlName="controlnumber" [value]="student.controlnumber" [(ngModel)]="student.controlnumber"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!--SE COPEA HASTA ACÁ-->
      <!--LA VALIDACIÓN DESDE AQUÍ EMPIEZA-->
      <div>
        <ng-container *ngFor="let item of validationMessages['controlnumber']">
          <div class="errormessage" *ngIf="(myForm.get('controlnumber').dirty || myForm.get('controlnumber').touched) &&
                myForm.get('controlnumber').hasError(item.type)">
            {{item.message}}
          </div>
        </ng-container>
      </div>
      <!-- name-->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Ingrese nombre de estudiante</ion-label>
            <ion-input formControlName="name" [value]="student.name" [(ngModel)]="student.name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!--SE COPEA HASTA ACÁ-->
      <!--LA VALIDACIÓN DESDE AQUÍ EMPIEZA-->
      <div>
        <ng-container *ngFor="let item of validationMessages['name']">
          <div class="errormessage" *ngIf="(myForm.get('name').dirty || myForm.get('name').touched) &&
                myForm.get('name').hasError(item.type)">
            {{item.message}}
          </div>
        </ng-container>
      </div>
      <!-- curp-->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Ingrese curp de estudiante</ion-label>
            <ion-input formControlName="curp" [value]="student.curp" [(ngModel)]="student.curp"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!--SE COPEA HASTA ACÁ-->
      <!--LA VALIDACIÓN DESDE AQUÍ EMPIEZA-->
      <div>
        <ng-container *ngFor="let item of validationMessages['curp']">
          <div class="errormessage" *ngIf="(myForm.get('curp').dirty || myForm.get('curp').touched) &&
                            myForm.get('curp').hasError(item.type)">
            {{item.message}}
          </div>
        </ng-container>
      </div>
      <!--AQUÍ TERMINA VALIDACIÓN-->
      <!-- age-->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Ingrese edad</ion-label>
            <ion-input formControlName="age" [value]="student.age" [(ngModel)]="student.age"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!--SE COPEA HASTA ACÁ-->
      <!--LA VALIDACIÓN DESDE AQUÍ EMPIEZA-->
      <div>
        <ng-container *ngFor="let item of validationMessages['age']">
          <div class="errormessage" *ngIf="(myForm.get('age').dirty || myForm.get('age').touched) &&
                                  myForm.get('age').hasError(item.type)">
            {{item.message}}
          </div>
        </ng-container>
      </div>
      <!--AQUÍ TERMINA VALIDACIÓN-->
      <!-- nip-->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Ingrese nip</ion-label>
            <ion-input formControlName="nip" [value]="student.nip" [(ngModel)]="student.nip"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!--SE COPEA HASTA ACÁ-->
      <!--LA VALIDACIÓN DESDE AQUÍ EMPIEZA-->
      <div>
        <ng-container *ngFor="let item of validationMessages['nip']">
          <div class="errormessage" *ngIf="(myForm.get('nip').dirty || myForm.get('nip').touched) &&
                                        myForm.get('nip').hasError(item.type)">
            {{item.message}}
          </div>
        </ng-container>
      </div>
      <!--AQUÍ TERMINA VALIDACIÓN-->
      <!-- email-->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Ingrese email</ion-label>
            <ion-input formControlName="email" [value]="student.email" [(ngModel)]="student.email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!--SE COPEA HASTA ACÁ-->
      <!--LA VALIDACIÓN DESDE AQUÍ EMPIEZA-->
      <div>
        <ng-container *ngFor="let item of validationMessages['email']">
          <div class="errormessage" *ngIf="(myForm.get('email').dirty || myForm.get('email').touched) &&
                                              myForm.get('email').hasError(item.type)">
            {{item.message}}
          </div>
        </ng-container>
      </div>
      <!--AQUÍ TERMINA VALIDACIÓN-->
      <!-- Career -->
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Carrera</ion-label>
              <ion-select placeholder="Selecciona una carrera" formControlName="career" [value]="student.career" [(ngModel)]="student.career">
                <ion-select-option *ngFor="let item of careers; let i=index">{{item}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <!--SE COPEA HASTA ACÁ-->
      <!--LA VALIDACIÓN DESDE AQUÍ EMPIEZA-->
      <div>
        <ng-container *ngFor="let item of validationMessages['career']">
          <div class="errormessage" *ngIf="(myForm.get('career').dirty || myForm.get('career').touched) &&
                                                    myForm.get('career').hasError(item.type)">
            {{item.message}}
          </div>
        </ng-container>
      </div>
      <!--AQUÍ TERMINA VALIDACIÓN-->
      <!-- photo-->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Ingrese fotografia</ion-label>
            <ion-input formControlName="photo" [value]="student.photo" [(ngModel)]="student.photo"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <!--SE COPEA HASTA ACÁ-->
      <!--LA VALIDACIÓN DESDE AQUÍ EMPIEZA-->
      <div>
        <ng-container *ngFor="let item of validationMessages['photo']">
          <div class="errormessage" *ngIf="(myForm.get('photo').dirty || myForm.get('photo').touched) &&
                                                          myForm.get('photo').hasError(item.type)">
            {{item.message}}
          </div>
        </ng-container>
      </div>
      <!--AQUÍ TERMINA VALIDACIÓN-->
      <ion-button slot="end" (click)="updateStudent()" expand="block" 
        shape="round">
        Actualizar el estudiante
      </ion-button>
    </form>
  </ion-grid>
</ion-content>